*{
    font-family: "Figtree";
}

.state-hover {
    color: '#c5f1f7';
}
.leaflet-tooltip.state-label {
  font-size: 12px;
  font-weight: bold;
  color: #9b9898;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}