*{
    font-family: "Figtree";
}

.state-hover {
    color: '#609FF680 ' !important;
    background-color: '#609FF680 ' !important;
}
.leaflet-tooltip.state-label {
  font-size: 12px;
  /* font-weight: bold; */
  color: #000;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}

.leaflet-popup-content {
  margin:0 !important;
  overflow:hidden !important;
  border-radius: 12px !important;
}

.leaflet-popup-content-wrapper {
 padding: 0px !important;
}

.leaflet-popup-tip {
  display: none !important;
}
